/* /Pages/Index.razor.rz.scp.css */
body[b-en5e5vlw0z] {
}
.box[b-en5e5vlw0z] {
    width: 500px; /* 横幅を200pxに指定 */
    height: 605px; /* 縦幅を200pxに指定 */
    background: #C2A7D8;
    --font-family: 'Mv Boli';
    overflow-y: scroll; /* 縦方向にスクロール可能にする */
}
#main-container[b-en5e5vlw0z] {
    height: var(--height);
    width: var(--width);
    background: #C2A7D8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Header */
.header[b-en5e5vlw0z] {
    display: flex;
    margin: 5px 5px 10px 5px;
}

#title[b-en5e5vlw0z] {
    font-size: 24px;
    text-align: center;
    height: 24px;
    margin-right: auto;
    font-family: 'Mv Boli';
}

#tasks-number[b-en5e5vlw0z] {
    margin-left: auto;
    font-size: 24px;
    height: 24px;
    font-family: 'Mv Boli';
}
#container[b-en5e5vlw0z] {
    display: grid; /* グリッドレイアウト */
    grid-template-rows: 20px;
    grid-template-columns: 20px 150px;
}
#numId[b-en5e5vlw0z] {
    grid-column: 1 / 2;
    font-family: 'Mv Boli', serif;
}

#Name[b-en5e5vlw0z] {
    grid-column: 2 / 3;
    font-family: 'Mv Boli', serif;
}

#detail[b-en5e5vlw0z] {
    grid-column: 3 / 4;
    font-family: 'Mv Boli', serif;
}
#task-container[b-en5e5vlw0z] {
    background: #E8D6F3;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5hs7bhb0s1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5hs7bhb0s1] {
    flex: 1;
}

.sidebar[b-5hs7bhb0s1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5hs7bhb0s1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5hs7bhb0s1]  a, .top-row[b-5hs7bhb0s1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5hs7bhb0s1]  a:hover, .top-row[b-5hs7bhb0s1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5hs7bhb0s1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5hs7bhb0s1] {
        display: none;
    }

    .top-row.auth[b-5hs7bhb0s1] {
        justify-content: space-between;
    }

    .top-row[b-5hs7bhb0s1]  a, .top-row[b-5hs7bhb0s1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5hs7bhb0s1] {
        flex-direction: row;
    }

    .sidebar[b-5hs7bhb0s1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5hs7bhb0s1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5hs7bhb0s1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5hs7bhb0s1], article[b-5hs7bhb0s1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6fumwqr87g] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6fumwqr87g] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6fumwqr87g] {
    font-size: 1.1rem;
}

.oi[b-6fumwqr87g] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6fumwqr87g] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6fumwqr87g] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6fumwqr87g] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6fumwqr87g]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6fumwqr87g]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-6fumwqr87g]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6fumwqr87g] {
        display: none;
    }

    .collapse[b-6fumwqr87g] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
